---
import { Image } from "astro:assets"
import Breadcrumbs from "@/components/Breadcrumbs.astro"
import * as content from "@/content/about.ts"
import banner from "@/images/about/banner.jpg"
import image from "@/images/about/middle.jpg"
import Layout from "@/layouts/Layout.astro"
import { cn } from "@/lib/utils"

const title = "About"
---

<Layout {title} description={content.about.main}>
  <Image
    src={banner}
    alt="DeGroote School of Business, Building"
    class="mx-auto max-h-80 border-b-[6px] border-gold object-cover object-[50%,66%]"
    loading="eager"
  />
  <Breadcrumbs />
  <section class="container p-8 md:py-12">
    <h1
      class="mx-auto mb-4 w-fit border-b-4 border-maroon pb-0.5 text-2xl font-semibold"
    >
      {content.about.title}
    </h1>
    <p class="mx-auto max-w-[680px] text-center text-base md:text-lg">
      {content.about.main}
    </p>
  </section>
  <section class="grid overflow-hidden bg-gallery md:mb-12 md:grid-cols-2">
    <Image
      src={image}
      alt="Group of people having a meeting"
      loading="eager"
      class="self-stretch object-cover shadow-mcmaster shadow-nevada/40 lg:max-h-[450px]"
    />
    <div class="space-y-6 self-center p-8 md:space-y-12">
      {
        content.missionVision.map((item) => (
          <div>
            <h2 class="mb-2 w-max border-b-4 border-maroon pb-0.5 text-xl font-semibold">
              {item.title}
            </h2>
            <p>{item.main}</p>
          </div>
        ))
      }
    </div>
  </section>
  <div class="bg-nevada p-8 md:py-12">
    <section
      class="container grid divide-y overflow-hidden rounded-sm bg-white shadow-md max-lg:max-w-2xl md:divide-x lg:grid-cols-2"
    >
      {
        content.cards.map((item, i) => (
          <div
            class={cn(
              "group space-y-4 p-6 text-center transition-all duration-300 hover:shadow-mcmaster md:p-8",
              i == 1 && "md:!border-y-0",
              i == 2 && "md:!border-x-0"
            )}
          >
            <div class="mx-auto size-40 rounded-full border-4 border-gold p-8 shadow-nevada transition-all duration-200 group-hover:bg-gold group-hover:shadow-mcmaster">
              <Image src={item.image} alt={item.title} />
            </div>
            <h3 class="text-2xl font-semibold">{item.title}</h3>
            <hr class="mx-auto h-[5px] w-10 bg-maroon" />
            <p class="text-nevada">{item.main}</p>
          </div>
        ))
      }
    </section>
  </div>
</Layout>
