---
import { Image } from "astro:assets"

interface Props {
  href: string
  title: string
  description: string
  action: string
  image: ImageMetadata
  external?: boolean
}

const { href, title, description, action, image, external } = Astro.props
---

<a
  href={href}
  target={external ? "_blank" : undefined}
  rel={external ? "noopener noreferrer" : undefined}
  class="group flex max-w-155 flex-col overflow-hidden rounded-xl border"
>
  <div
    class="relative overflow-hidden transition-shadow duration-300 group-hover:shadow-2xl"
  >
    <Image
      src={image}
      alt={title}
      loading="eager"
      class="scale-105 transition-transform duration-300 group-hover:scale-100"
    />
    <div
      class="group-hover:bg-maroon absolute bottom-0 z-10 h-px w-full bg-[#e5e7eb] transition-colors duration-300"
    >
    </div>
  </div>
  <div
    class="group-hover:bg-maroon flex grow flex-col gap-4 bg-white p-4 transition-colors duration-300 group-hover:text-white sm:p-6"
  >
    <h2 class="text-2xl font-bold">
      {title}
    </h2>
    <div
      class="bg-maroon group-hover:bg-gold h-1 w-10 transition-colors duration-300"
    >
    </div>
    <p
      class="text-gray-600 transition-colors duration-300 group-hover:text-white"
    >
      {description}
    </p>
    <div class="mt-auto flex items-center justify-between">
      <span class="font-sans-condensed text-lg">{action}</span>
      <svg
        class="bg-maroon group-hover:bg-gold size-5 -translate-x-3 rounded-full p-1 text-white transition-all duration-300 group-hover:translate-x-0 group-hover:text-gray-900"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </div>
  </div>
</a>
