---
import { Image } from "astro:assets"

interface Props {
  href: string
  title: string
  description: string
  action: string
  image: ImageMetadata
}

const { href, title, description, action, image } = Astro.props
---

<a
  href={href}
  class="border-maroon group flex max-w-[720px] flex-col border lg:border-r-0 lg:last:border-r"
>
  <Image
    src={image}
    alt={title}
    loading="eager"
    class="border-b-maroon border-b transition-all duration-[250ms] group-hover:shadow-2xl"
  />
  <div
    class="group-hover:bg-maroon flex flex-grow flex-col gap-4 p-6 transition-colors duration-[250ms] group-hover:text-white"
  >
    <h2 class="text-2xl font-bold">
      {title}
    </h2>
    <div
      class="group-hover:bg-gold bg-maroon h-1 w-10 transition-colors duration-[250ms]"
    >
    </div>
    <p
      class="text-nevada transition-colors duration-[250ms] group-hover:text-white"
    >
      {description}
    </p>
    <div class="mt-auto flex items-center justify-between">
      <span class="text-lg font-medium">{action}</span>
      <svg
        class="group-hover:bg-gold bg-maroon size-5 -translate-x-3 rounded-full p-1 text-white transition-all duration-[250ms] group-hover:translate-x-0 group-hover:text-black"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </div>
  </div>
</a>
