---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"
import mcmasterLogo from "@/images/mcmaster-footer-logo.png"

const links = [
  {
    title: "Contact",
    link: "https://www.mcmaster.ca/opr/html/opr/contact_us/main/contact_us.html",
  },
  {
    title: "Terms & Conditions",
    link: "https://www.mcmaster.ca/opr/html/footer/main/terms_of_use.html",
  },
  {
    title: "Privacy Policy",
    link: "https://www.mcmaster.ca/privacy/",
  },
]

const socials = [
  {
    name: "fa-brands:instagram",
    link: "https://www.instagram.com/mcmasteru",
  },
  {
    name: "fa-brands:twitter",
    link: "https://www.twitter.com/mcmasteru",
  },
  {
    name: "fa-brands:facebook-f",
    link: "https://www.facebook.com/mcmasteruniversity",
  },
  {
    name: "fa-brands:youtube",
    link: "https://www.youtube.com/mcmasterutv",
  },
  {
    name: "fa-brands:linkedin-in",
    link: "https://www.linkedin.com/school/164897/",
  },
]
---

<footer class="flex flex-col items-center bg-maroon p-8 text-white md:p-12">
  <Image src={mcmasterLogo} alt="McMcaster logo" class="w-[420px]" />
  <nav
    class="mb-4 mt-6 flex w-full flex-col items-center justify-center gap-x-24 gap-y-4 border-y border-nevada/60 py-5 font-sans-condensed font-semibold tracking-wider md:flex-row"
  >
    {
      links.map((link) => (
        <a
          href={link.link}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:underline"
        >
          {link.title}
        </a>
      ))
    }
  </nav>
  <nav class="flex flex-wrap justify-center gap-4 py-4 sm:gap-8 md:gap-11">
    {
      socials.map((social) => (
        <a
          href={social.link}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex rounded-full border-[2px] p-[5px] transition-colors duration-[250ms] hover:border-gold hover:text-gold"
          aria-label={social.name}
        >
          <Icon name={social.name} size={18} />
        </a>
      ))
    }
  </nav>
  <nav
    class="flex flex-wrap items-center justify-center gap-4 py-4 text-center sm:gap-6"
  >
    <a
      class="font-sans-condensed text-sm font-semibold tracking-wider hover:underline"
      href="https://www.google.ca/maps/place/McMaster+University/@43.260879,-79.919225,17z/data=%213m1%214b1%214m2%213m1%211s0x882c84ac44f72ac1:0x399e00ea6143011c"
      target="_blank"
      rel="noopener noreferrer"
    >
      1280 Main Street West &nbsp;
      Hamilton,&nbsp;Ontario&nbsp;&nbsp;L8S&nbsp;4L8
    </a>
    <a
      class="font-sans-condensed text-sm font-semibold tracking-wider hover:underline"
      href="tel:+19055259140"
      target="_blank"
      rel="noopener noreferrer"
    >
      (905) 525-9140
    </a>
  </nav>
  <a
    class="my-4 font-sans-condensed text-[13px] tracking-wider hover:underline"
    href="https://www.mcmaster.ca/"
    target="_blank"
    rel="noopener noreferrer"
  >
    &copy; {new Date().getFullYear()} McMaster University.
  </a>
</footer>
