---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"
import type { Person, SocialType } from "@/content/people"

interface Props {
  title?: string
  members: Person[]
}

const { members, title } = Astro.props

const iconMap: Record<SocialType, string> = {
  email: "lucide:mail",
  linkedin: "fa-brands:linkedin-in",
  profile: "lucide:info",
  publication: "lucide:graduation-cap",
}

const linkedIn = (name: string) => `https://www.linkedin.com/in/${name}`
---

<h2 class="mb-8 mt-12 text-3xl font-semibold">{title}</h2>
<div class="grid gap-5 md:grid-cols-2 lg:grid-cols-3">
  {
    members.map((member) => (
      <div class="group flex flex-col items-center border bg-white p-6 text-center shadow-mcmaster shadow-nevada/20 transition-shadow duration-300 hover:shadow-nevada/60">
        <Image
          src={member.image}
          alt={member.name}
          quality={100}
          class="h-[140px] w-[140px] rounded-full object-cover object-top ring-2 ring-gold transition-shadow duration-300 group-hover:shadow-mcmasterSmall group-hover:ring-4"
        />
        <h2 class="mb-1 mt-2 text-2xl font-semibold">{member.name}</h2>
        <h3 class="text-lg font-semibold text-nevada">{member.title}</h3>
        <div class="mb-2">
          {member.subTitles &&
            member.subTitles.length > 0 &&
            member.subTitles.map((subTitle) => (
              <p class="text-[13px]">{subTitle}</p>
            ))}
        </div>
        <div class="flex w-full flex-col items-center">
          {member.socials.map((social) => {
            return (
              <a
                href={
                  social.href
                    ? social.href
                    : social.type === "email"
                      ? `mailto:${social.label}`
                      : social.type === "linkedin"
                        ? linkedIn(social.label)
                        : social.label
                }
                class="text-muted-foreground group flex w-full justify-center rounded px-2 py-1 text-[13px] font-semibold transition-colors hover:bg-[#f8f9fa] group/social"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span class="flex flex-wrap items-center justify-center gap-2 break-all">
                  <Icon name={iconMap[social.type]} size={14} />
                  <span class="group-hover/social:text-muted-foreground text-foreground">
                    {social.label}
                  </span>
                </span>
              </a>
            )
          })}
        </div>
      </div>
    ))
  }
</div>
